{% extends 'index.html' %}
{% load static %}

{% block content %}

    <style>
        .container {
            padding: 0;
            margin: 0;
            text-decoration: none;
        }

        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            text-decoration: none;
        }

        .container img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    </style>

    {% if project_list %}
    <div class="container">
        {% for project in project_list %}
        <a href="{% url 'projectapp:detail' pk=project.pk %}">
                {% include 'snippets/card_project.html' with project=project %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div>
        <h1 style="text-align: center;">프로젝트가 없습니다.</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center">
        <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3 px-3">
            프로젝트 생성
        </a>
    </div>


{% endblock %}